* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lato", serif !important;
   /* font-family: "Poppins", sans-serif; */
   scroll-behavior: smooth;
   /* scrollbar-width: thin; */
}